html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  color: #DDD;
  background-color: #333;
  height: 100%;
}
#menu {
  position: fixed;
  z-index: 999;
}
#menu, #footer {
  opacity: .75;
  background-color: #000;
  height: 64px;
  width: 100%;
  text-align: center;
}
#footer {
  line-height: 64px;
  color: #333;
}
#menu ul, #menu li {
  display: inline-block;
  list-style: none;
  padding: 0;
}
#menu ul {
  max-width: 720px;
  width: 720px;
  margin: auto;
}
#menu li {
  width: 30%;
  margin: 0;
}
#menu a {
  line-height: 63px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #DDD;
  border-bottom: 1px solid #000;
}
#menu a:hover {
  color: #FFF;
  border-bottom: 1px solid #666;
  background-color: #333;
}
#map {
  background-color: #000;
  height: 200px;
  width: 100%;
  border-bottom: 32px solid rgba(0,0,0,0.75);
}

@media all and (min-device-height : 500px) {
  #map {
    height: 320px;
  }
}

@media all and (min-device-height : 580px) {
  #map {
    height: 480px;
  }
}

#scoreboard, #about {
  max-width: 720px;
  margin: 32px auto;
}

#scoreboard table td {
  cursor: pointer;
}

#scoreboard table {
  width: 100%;
}

#scoreboard table th {
  background: #666;
}

/* game */
#hi-score {
  position: fixed;
  top: 16px;
  left: 16px;
  font-size: 32px;
  color: #000;
  opacity: .3;
}
#canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#score {
  position: fixed;
  overflow: hidden;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 25%;
  color: #000;
  z-index: 1;
  opacity: .3;
}
#details {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 32px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  opacity: .3;
}
#accuracy {
  position: fixed;
  bottom: 8px;
  left: 50%;
  height: 8px;
  background-color: #000;
  opacity: .3;
  width: 0px;
}
#about {
  padding: 72px 16px 16px 0;
}
#about > img, #about > div {
  float: left;
}
#about div {
  text-align: left;
  max-width: 328px;
  margin-left: 16px;
}
#footer {
  clear: left;
}
.circle {
  z-index: 2;
}